<div class="payment-method payment-method-pointspay" data-bind="css: { '_active': (getCode() == isChecked()) }">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="
                    attr: {'id': getCode()},
                    value: getCode(),
                    checked: isChecked,
                    click: selectPaymentMethod,
                    visible: isRadioButtonVisible()"/>
        <label class="label payment-method-label-pointspay" data-bind="attr: {'for': getCode()}">
            <img data-bind="attr: { src: getLogo(), alt: getTitle() }"
                 class="payment-icon payment-icon-pointspay"
                 alt=""/>
            <span class="pointspay-payment-method-description">
                <span class="pointspay-payment-method-title" data-bind="text: title"></span>
            </span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                            click: placeOrder,
                            attr: { title: $t('Place Order') },
                            enable: (getCode() == isChecked())"
                        disabled
                >
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
